@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

body {
  -webkit-transition: all 0.5s ease;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  padding-top: 180px;
  transition: all 0.5s ease;
}

#background{
  background-image:url(../img/back.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

header {
  font-family: 'Alfa Slab One', cursive;
  -webkit-transition: all 0.5s ease;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0px;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 100;
  height: 100%;
}
header h1 {
  -webkit-transition: all 0.3s ease;
  color: #000;
  font-size: 3em;
  font-weight: 100;
  line-height: 1.25em;
  opacity: 1;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 100%;
}
header nav {
  background-color: rgba(0, 0, 0, 0.112);
  bottom: 0;
  height: 60px;
  line-height: 60px;
  position: absolute;
  width: 100%;
}
header nav a {
  color: #000;
  display: inline-block;
  line-height: 1;
  padding: 22.5px 20px;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
}
header nav a:hover {
  background: transparent;
  text-decoration: none;
  font-size: 35px;
  color: #000;
}

p {
  color: #fff);
  line-height: 1.4;
}

section {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
  padding: 0.1em 1em 1em 1em;
  text-align: center;

}

.sub{
    font-family: 'Permanent Marker', cursive;
    font-size: 95px;
}

body.sticky {
  padding-top: 50px;
}
body.sticky header {
  background-color: #FFEB3B;;
  height: 60px;
}
body.sticky header nav{
  background-color: #FFEB3B;;
  opacity: 100%;
}
body.sticky header h1 {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

@media (max-width: 768px) {
  body {
    padding-top: 150px;
  }
  body header {
    height: 130px;
  }
  body header h1 {
    font-size: 2em;
    line-height: 1em;
  }
}

main{
    margin-top: 5%;
}



.main {
  display: inline-block;
  transition: 0.5s all ease;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  height: 410px;
  box-shadow: 1px 1px 5px #000;
  margin-left: 20px;
  font-family: 'Source Code Pro', monospace;
  
}
.main .front,
.main .back {
  background: #34495e;
  position: absolute;
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  height: 410px;
  transition: 0.5s all ease;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}
.main .front .data-wrapper,
.main .back .data-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  background: #fff;
  color: #ccc;
}
.main .front .data-wrapper .data,
.main .back .data-wrapper .data {
  color: #000;
  width: 80%;
  margin: 2em auto;
}
.main .front .data-wrapper .data .title,
.main .back .data-wrapper .data .title {
  font-weight: bold;
  font-size: 18px;
}
.main .front .data-wrapper .circle,
.main .back .data-wrapper .circle {
  color: #fff;
  position: absolute;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  background: #019875;
  top: -1.5em;
  left: 40%;
}
.main .icon {
  font-size: 10em;
  padding: 0.2em 0 0 0;
}
.main .front {
  text-align: center;
  color: #fff;
}
.main .back {
  color: #fff;
  transform: rotateY(180deg);
}
.main .back .social {
  width: auto;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.main .back .social i {
  margin: 5px;
}
.main .back .skills {
  margin: 0 auto;
  text-align: center;
  padding: 1.5em;
}
.main .back .skills .skill-ele {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  position: relative;
}
.main .back .skills .skill-ele:hover .stars {
  left: 0;
}
.main .back .skills .skill-ele .stars {
  transition: 0.5s all ease;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #545353;
  position: absolute;
  left: -100%;
  color: #ffd700;
}
.main:hover .front {
  transform: rotateY(180deg);
  z-index: 2;
}
.main:hover .back {
  transform: rotateY(0deg);
}

